:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --beige: #BDAE82;
  --light-theme-text: #1C1C1C;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/Merriweather-Bold.ttf");
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--basic-black);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  position: relative;
  width: 220px;
  height: 55px;
  font: inherit;
  color: var(--basic-black);
  background-color: var(--beige);
  border: none;
  cursor: pointer;
  transition: .3s;
  overflow: hidden;
}

.btn:hover {
  color: var(--basic-white);
}

.section-title__wrapper {
  margin: 0 auto;
  max-width: 700px;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  font-family: "Merriweather", "Times", serif;
  font-size: 40px;
  line-height: 80px;
  font-weight: 700;
  color: var(--beige);
  text-align: center;
}

.section-title::before,
.section-title::after {
  content: "";
  display: block;
  max-width: 275px;
  height: 2px;
  flex-grow: 1;
  flex-shrink: 0;
  background-color: var(--beige);
}

.section-title::before {
  margin-right: 20px;
}

.section-title::after {
  margin-left: 20px;
}

/*Header*/
.main-header {
  padding: 20px;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  align-items: center;
  background: url("../assets/img/bg-header.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.main-header__logo {
  display: block;
  width: 50px;
  height: 40px;
  fill: var(--basic-white);
  cursor: pointer;
}

.main-header__logo:hover {
  fill: var(--beige);
}

.main-nav {
  margin-left: auto;
}

.mobile-menu-btn {
  display: none;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-right: 30px;
}

.nav-item__link {
  line-height: 50px;
  transition: .3s;
}

.nav-item__link:hover {
  color: var(--beige);
}

.lang-switcher {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-right: 35px;
}

.lang {
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.lang:hover {
  color: var(--beige);
}

.lang span:last-child {
  margin-left: 15px;
}

.lang_active {
  color: var(--beige);
}

.theme-switcher {
  width: 45px;
  height: 45px;
}

.theme-icon {
  display: block;
  width: 45px;
  height: 45px;
  fill: white;
  cursor: pointer;
}

.theme-icon:hover {
  fill: var(--beige);
}

/*Main content*/
/*Hero*/
.hero {
  padding: 160px 0px 330px 80px;
  background-image: url("../assets/img/bg-header.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
}

.hero__title {
  font-family: "Merriweather", "Times", serif;
  font-size: 60px;
  line-height: 120px;
  font-weight: 700;
}

.hero__text {
  display: block;
  padding-top: 10px;
  max-width: 470px;
}

.hero__btn {
  margin-top: 25px;
}

/*Skills*/
.skills {
  padding: 100px 20px 0;
}

.skills-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 35px;
}

.skills-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  margin-right: 40px;
  width: 280px;
}

.skills-item:last-child {
  margin-right: 0;
}

.skills-item__title {
  font: inherit;
  font-weight: 700;
}

.skills-item__text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

.skills-item__photo {
  background-image: url("../assets/svg/camera-icon.svg");
  background-position: center top;
  background-size: 62px 50px;
  background-repeat: no-repeat;
}

.skills-item__video {
  background-image: url("../assets/svg/video-icon.svg");
  background-position: center top;
  background-size: 60px 50px;
  background-repeat: no-repeat;
}

.skills-item__retouch {
  background-image: url("../assets/svg/picture-icon.svg");
  background-position: center top;
  background-size: 66px 50px;
  background-repeat: no-repeat;
}

.skills-item__audio {
  background-image: url("../assets/svg/mic-icon.svg");
  background-position: center top;
  background-size: 32px 50px;
  background-repeat: no-repeat;
}

/*Portfolio*/
.portfolio {
  padding: 110px 20px 0;
}

.btn-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.slider__btn {
  color: var(--beige);
  background-color: transparent;
  border: 2px solid var(--beige);
}

.slider__btn_active {
  color: var(--basic-black);
  background-color: var(--beige);
}

.gallery-list {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 12px;
}

/*Video*/
.player-container {
  position: relative;
  border: 1px solid #BDAE82;
}

.player-poster {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/video-player-poster.jpg");
  background-size: cover;
  transition: 1s;
  z-index: 10;
}

.player-poster_hide {
  opacity: 0;
  pointer-events: none;
}

.player__video {
  position: relative;
}

.video {
  margin: 0 auto;
  width: 100%;
}

.player__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  background-image: url("../assets/svg/play-btn.svg");
  background-size: cover;
  transition: .6s;
  z-index: 15;
}

.player__btn_hide {
  display: none;
}

/*Controls*/
.controls {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  padding: 0 40px;
  height: 80px;
}

.play-btn {
  width: 40px;
  height: 50px;
  background-color: transparent;
  background-image: url("../assets/svg/play.svg");
  background-size: cover;
}

.progress {
  flex: 1;
}

.progress-bar {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  height: 10px;
  background: -webkit-linear-gradient(0deg, #FFFFFF 25%, #FFFFFF 100%);
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
}

.volume-mute-btn {
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-image: url("../assets/svg/volume.svg");
  background-size: cover;
}

.volume-bar {
  -webkit-appearance: none;
  height: 10px;
  border: none;
  border-radius: 0;
  outline: none;
  background: -webkit-linear-gradient(0deg, #BDAE82 0%, #BDAE82 25%, #FFFFFF 25%, #FFFFFF 100%);
}

.volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
}

/*
.video {
  padding: 85px 20px 0;
}

.player {
  position: relative;
  max-width: 1400px;
  height: 705px;
  background-image: url("../assets/img/video-player.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.player__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
  background-color: transparent;
  background-image: url(../assets/svg/Play_btn.svg);
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: .3s;
}

.player__btn:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.player__btn:hover .player__btn-img path {
  fill: var(--beige);
}*/

/*Price*/
.price {
  padding: 100px 20px;
}

.price-list {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.price-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 40px 0;
  width: 450px;
  height: 505px;
  border: 3px solid var(--beige);
}

.price-item__title,
.price-item__cost {
  font-family: "Merriweather", "Times", serif;
  font-size: 28px;
  line-height: 56px;
  font-weight: 700;
}

.price-item__cost {
  color:var(--beige);
  font-size: 24px;
  line-height: 48px;
}

.price-item__decr span {
  display: block;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

/*Contacts*/
.contacts {
  padding: 60px 20px 0;
  height: 700px;
  background-image: url("../assets/img/contacts-bg.jpg");
  background-size: auto 700px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto auto;
}

.contacts__title {
  display: block;
  padding-bottom: 40px;
  margin-right: 110px;
  margin-left: auto;
  width: 450px;
}

.contacts__title::before,
.contacts__title::after {
  display: none;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-width: 450px;
}

.contacts-form__input {
  margin-bottom: 20px;
  padding: 5px 20px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 2px solid var(--beige);
}

.contacts-form__input::placeholder {
  font-family: inherit;
  color: #bdae82;
  font-size: 20px;
}

.contacts-form__message {
  margin-bottom: 5px;
  height: 100px;
  font-family: inherit;
  color: var(--beige);
  font-size: 20px;
  resize: none;
}

.contacts-form__btn {
  margin-top: 25px;
}

/*Footer*/
.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  line-height: 50px;
}

.copyright span {
  margin-right: 20px;
}

.copyright__github-link:hover,
.school__link:hover {
  color: var(--beige);
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-item {
  margin-right: 20px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link__img {
  display: block;
  width: 32px;
  height: 32px;
  fill: #cdc6db;
}

.social-link__img:hover {
  fill: var(--beige);
}

/*Light theme*/
.page-body_light {
  color: var(--light-theme-text);
  background-color: var(--basic-white);
}

.header-logo_light {
  fill: var(--light-theme-text);
}

.main-header_light {
  background-image: url("../assets/img/bg-header-light.jpg");
}

.hero_light {
  background-image: url("../assets/img/bg-header-light.jpg");
}

.lang-switcher_light .lang_active {
  color: var(--basic-white);
}

.hero__btn_light {
  background-color: var(--basic-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hero__btn_light:hover {
  color: var(--beige);
  background-color: var(--light-theme-text);
}

.section-title_light {
  color: inherit;
}

.section-title_light::before,
.section-title_light::after {
  background-color: var(--light-theme-text);
}

.btn-list_light .slider__btn {
  color: inherit;
  background-color: var(--beige);
  transition: .3s;
}

.btn-list_light .slider__btn:hover {
  color: var(--basic-white);
}

.btn-list_light .slider__btn_active {
  color: var(--beige);
  background-color: var(--light-theme-text);
}

.price-item__cost_light {
  color: inherit;
}

.contacts_light {
  background-image: url("../assets/img/contacts-bg-light.jpg");
}

.contacts-form_light .contacts-form__input {
  background-color: rgba(255, 255, 255, 0.5);
}

.contacts-form_light .contacts-form__input::placeholder {
  color: var(--light-theme-text);
}

.contacts-form_light .contacts-form__btn {
  background-color: var(--basic-white);
}

.contacts-form_light .contacts-form__btn:hover {
  color: var(--beige);
  background-color: var(--light-theme-text);
}

.social-link__img_light {
  fill: var(--light-theme-text);
}

.social-link__img_light:hover {
  fill: #CCBA8D;
}

.pulse {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  background-color: var(--basic-white);
  border-radius: 50%;
  animation: pulse 0.7s ease-out;
  transform: translate(-50%, -50%) scale(0);
}

@keyframes pulse {
  to {
    transform: translate(-50%, -50%) scale(2);
    background-color: transparent;
    opacity: 0;
  }
  
}